* {
    margin: 0;
    padding: 0;
}

body{
    background: #2a2537;
    display: flex;
    justify-content: center;
}


.appContainer {
    align-self: center;
    background-color: grey;
    min-height: 200px;
    width: 70%;
}


.questionContainer {
    
    margin: 10px;
    padding: 5px;
}

.answer {
    padding: 5px;
    margin-right: 5px;
}

.answer.selected {
    background-color: #dcd2f4;
    border: solid 3px #dcd2f4;
    transition: 500ms
}

.answer.selected:hover{
    background-color: #dcd2f4;
    border: solid 3px #dcd2f4;
    transition: 500ms
}


/* Header styling */

header {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Paytone One', sans-serif;
    border-radius: 20px 20px 0px 0px ;
    padding: 2rem;
    margin: 1rem 1rem 0rem 1rem;
    height: 50px;
    width: 70%;
    align-self: center;
    background: linear-gradient(0deg, #b328c5 33%, #d757e8 100%);
}

.logo {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
}

.appContainer {
    background: #fff;
    margin: 0rem 1rem;
    border-radius: 0px 0px 20px 20px;
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
}

.triviaContainer {
    padding: 1rem;
    border-radius: 10px;
}

.answer {
    border: none;
    background: #fff;
    border: solid 3px #dcd2f4;
    padding: 0.4rem 1.7rem 0.4rem 1.7rem;
    margin-right: 15px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    transition: 300ms;
}

.answer:hover{
    background: #dcd2f4;
    transition: 300ms;
    border: solid 3px #ffffff;
    cursor: pointer;

}

.answer:active{
    background: #ab9ec9;
    transition: 100ms;
}


.submitQuestions {
    border: none;
    padding: 0.7rem 2rem 0.7rem 2rem;
    margin-right: 15px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    
    background: linear-gradient(0deg, #b328c5 33%, #b328c5 100%);
    color: white;
    
}

.submitQuestions:hover {
    background: linear-gradient(0deg, #b328c5 33%, #d757e8 100%);
    transition: 500ms;
}

.submitQuestions:active {
    background: linear-gradient(0deg, #881e96 33%, #881e96 100%);
    font-size: 1rem;
    padding: 0.9rem 2.2rem 0.9rem 2.2rem;
    transition: 100ms;
}

.bottomSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.answerCounter {
    margin-right: 10px;
    color:  #2a2537;
    font-size: 1.2rem;
    font-weight: 1000;
}

.questionText {
    font-weight: 600;
    font-size: 1.3rem;
    color: #2a2537;
    margin-bottom: 20px
}

.answersContainer {
    display: grid;
    grid-template-columns: fit-content(25%) fit-content(25%) fit-content(25%) fit-content(25%);
    margin-bottom: 30px
}

.questionContainer {
    border-bottom: 1px solid rgb(231, 231, 231);
    margin-bottom: 25px;
    
}

.mainContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}


@keyframes shakeBtn {
    0% {margin-left: 10px; margin-right: 0px}
    20% {margin-left: 0px; margin-right: 10px}
    40% {margin-left: 10px; margin-right: 0px}
    60% {margin-left: 0px; margin-right: 10px}
    80% {margin-left: 10px; margin-right: 0px}
    90% {margin-left: 0px; margin-right: 10px}
    100%{margin-left:0; margin-right: 0;}
  }

.submitQuestions.shake {
    animation-name: shakeBtn;
    animation-duration: 200ms;
}

.submitQuestions.errorbtn{
    border: 2px red solid;
}

.error {
    width: 100%;
    text-align: center;
    color: red;
    margin-top: 15px;
    font-weight: 500;
    font-size: 1.2rem;
}

.red_num {
    color: red;
}

.answer.gameover {
    background: #f4f4f4;
    color:#acacac;
    border: solid 3px #f1f1f1;
}

.answer.gameover.correct {
    background: rgb(13, 212, 13);
    color: #fff;
    font-weight: 800;
    border: none;
    border: solid 3px #8dfaa4;
}

.answer.gameover.wrong {
    background: rgb(255, 67, 67);
    border: none;
    border: solid 3px #fcc3c3;
    color: #fff;
    font-weight: 800;
}

.changeCategory {
    border: white 2px solid;
    padding: 1rem 1rem 1rem 1rem;
    background: none;
    color: #fff;
    border-radius: 10px;
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: 300ms;
}

.changeCategory:hover {
    background: #fff;
    color:#b328c5;
    transition: 300ms;
} 

.changeCategory:active {
    background: #dedede;
    border: #dedede 2px solid;
    transition: 0ms;
}

.start_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    height: 100%;
    margin-top: 50px;
    padding: 2rem;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

.start_container > h1{
font-family: 'Paytone One', sans-serif;
font-size: 3.5rem;
color: #b328c5;
padding: 0;
margin-bottom: 0;
}

.start_container > h3 {
    margin-top: -10px;
    padding: 0;
    font-size: 1.1rem;
}

.startButton{
    width: fit-content;
}

.categoryButton {
    padding: 0.8rem 4rem;
    border: #dcd2f4 3px solid;
    background: #fff;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}

.categoryButton:hover {
background: #dcd2f4;

}

.col-span-2 {
    grid-column: span 2;
}


.categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 50px;
    margin-bottom: 25px
}

.cat_selection {
    grid-column: span 2;
}

.feedback {
    font-size: 1.3rem;
    color:rgb(13, 212, 13);
    font-weight: 700;
}

.gameOverSection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gameOverSection > button{
    margin-top: 15px;
}


@media (max-width: 1000px){
    .appContainer{
        width: 90%;
    }
    header{
        width: 90%;
    }

}

@media (max-width: 700px){



    .answersContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-bottom: 30px
    }

    .submitQuestions{
        font-size: 1rem;
    }

    .categories {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 50px;
        margin-bottom: 25px
    }
    
    .cat_selection {
        grid-column: span 1;
    }
    .col-span-2 {
        grid-column: span 1;
    }
    .start_container{
        width: 100;
        padding: 2rem;
    }
}

/* font-family: 'Paytone One', sans-serif;
font-family: 'Zen Kurenaido', sans-serif;*/